<div class="container" id="i18_history">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="history.title">La storia</span></h1>
        </div>
    </div>
    <div class="row features-block">
        <div class="wow zoomIn col-lg-6 col-lg-offset-3">
                <p data-i18n="history.p0">{{site.data.index.history.p0}}</p>
                <p data-i18n="history.p1">{{site.data.index.history.p1}}</p>
                <p data-i18n="history.p2">{{site.data.index.history.p2}}</p>
                <p data-i18n="history.p3">{{site.data.index.history.p3}}</p>
        </div>
    </div>
</div>
