<div class="container" id="i18_paleovalneva" style="margin-top: 10px;margin-bottom: 30px;">

    <div class="row wow zoomIn">
        <div class="col-sm-7">
            <img src="/static/assets/img/landing/localndina_fai.jpg" alt="Locandina Paleovalneva Fai" width="100%">
        </div>
        <div class="col-sm-5 text-center" style="margin-top: 20px;">
            <p>Il <strong>28 Luglio</strong> vi aspettiamo per una giornata appassionante tra natura e storia. 
            <br>Percorso naturalistico verso la grotta dell'<strong>Arma Veirana</strong> con illustrazione e approfondimenti da parte dei ricercatori impegnati negli scavi.
            <br>
            <p>Ma anche trekking, visite guidate tra le borgate, laboratori e buona cucina!</p>
            <p><strong><a href="https://drive.google.com/file/d/1Jxu12SrCBZpIkSbFAm1rIXCzjWLot-wj/view?usp=sharing">Per info e orari clicca qui</a></strong></p>
        </div>
    </div>
</div>
